* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background: #037971;
}

/* Title styling here!*/
.title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    margin-top: 20px;
}

/* Game-buttons styling here!*/
.options {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.selection {
    font-size: 10rem;
    padding: 20px;
    background: none;
    border-color: azure;
    border-style: inset;
    border-width: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 50px;
    margin-top: 50px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
}

/* hover effect on buttons here! Code taken from https://youtu.be/Nmaw6pBEsI8 */
.selection:hover {
    color: azure;
}

.selection::before {
    content: "";
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0,7);
    transform: scaleX(0);
}

.selection:hover::before {
    transform: scaleX(1);
}

/* Styling score-area here! */

.score-area {
    display: block;
    padding: 20px;
    margin-top: 30px;
}

.score-area div {
  text-align: center;
}

.scores {
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
}

.instructions {
  margin-top: 100px;
  background: azure;
  font-size: 30px;
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

footer {
  display: block;
  text-align: center;
  font-size: 18px;
}

@media (max-width: 768px) {

    .score-area p {
        font-size: 2rem;
    }

    .score-area .scores {
      font-size: 4rem;
    }

    .options {
      flex-direction: column;
      align-items: center;
    }
  
    .selection {
      font-size: 6rem;
      margin: 20px;
    }
  
    .score-area {
      flex-wrap: wrap;
      margin-left: 5%;
      margin-right: 5%;
    }
  }
  
  @media (max-width: 576px) {
    .title {
      font-size: 20px;
    }
  
    .options {
      flex-direction: column;
      align-items: center;
    }
  
    .selection {
      font-size: 4rem;
      margin: 10px;
    }
  
    .score-area {
      margin-left: 50px;
      margin-right: 50px;
    }
  }